@charset "utf-8";
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

/*──────────────── Reset ────────────────*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0;border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul, li{list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';	content: none;}
table {border-collapse: collapse;	border-spacing: 0;}
body {-webkit-text-size-adjust: none; /* 폰트사이즈 고정*/}
a, a:hover{text-decoration:none;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; word-wrap:break-word;}
*:before,*:after{ vertical-align:middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
img{border: none; vertical-align:top; text-align:left; max-width:100%;} 
a{cursor:pointer; outline: none; color:inherit; text-decoration:none;}
a:focus{outline: 0;}
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{border:none; cursor:pointer;-webkit-appearance:button; background-color:transparent;}

/* Etc. */
b, .bold{font-weight: bold;}
.normal{font-weight:normal;}
.landmark{position: absolute;left: -5000px;top: -5000px; display:none;}
.no_borderb{border-bottom:none !important;}
.clear{clear:both; display:block;}
.none {display:none !important;}
.hidden{visibility:hidden !important;}
.noborder{border:none !important;}
.bored{border:1px solid red;}


/*──────────────── Font ────────────────*/
h1, h2, h3, h4, h5, h6{ /*font-family: 'Noto Sans KR', sans-serif;*/ font-family: 'NanumSquareRound', sans-serif; line-height:1.5em; font-weight:400;}
h1{font-size:43px; font-weight:200;}
h2{font-size:30px;}
h3{font-size:26px; font-weight:400;}
h4{font-size:21px; font-weight:600;}
h5{font-size:17px; font-weight:600;}
h6{font-size:15px; font-weight:600;}

.fs9{font-size:9px;} .fs10{font-size:10px;} .fs11{font-size:11px;} .fs12{font-size:12px;} .fs13{font-size:13px;} .fs14{font-size:14px;} .fs15{font-size:15px;}
.fs16{font-size:16px;} .fs17{font-size:17px;} .fs18{font-size:18px;} .fs19{font-size:19px;} .fs20{font-size:20px;}

[class^="noto"], [class*="noto"]{font-family: 'Noto Sans KR', sans-serif !important;}
.noto100{font-weight:100;} .noto200{font-weight:200;} .noto300{font-weight:300;} .noto400{font-weight:400;} .noto500{font-weight:500;} .noto600{font-weight:600;} .noto700{font-weight:700;}

[class^="nanumsq"], [class*="naq"]{font-family: 'NanumSquareRound', sans-serif;}
.naq300{font-weight:300;} .naq400{font-weight:400;} .noto700{font-weight:700;} .noto800{font-weight:800;}

.help-block{color:#8da2a8; margin-top:7px; margin-bottom:-4px; line-height:1.3em;}
.help-block a{color:#8da2a8; text-decoration:underline !important;}
.help-block a:hover{color:#6d8288; }


/*──────────────── Text ────────────────*/
.ellipsis{ overflow : hidden; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis; }

/* 정렬 */
.tcenter{text-align: center !important;} .tleft{text-align:left !important;} .tright{text-align: right !important;} .fcenter{margin:0 auto;} .fleft{float:left !important;} .fright{float:right !important;}
.divCenter{z-index:2; position:absolute !important; top:0; left:15px; width:calc(100% - 30px); height:100%  !important; display: flex; align-items: center; justify-content: center;}

/* flexd */
.fixed{position:fixed !important;}
.block{display:block !important;}
.absolute{display:absolute !important; top:0; right:0;}
.absolute.fright{float:none; top:0; right:0;}
.flexCenter{display: flex;align-items: center;}

.clear{clear:both;}
.none {display:none !important;}
.fleft{float:left;}
.fright{float:right;}
.fcenter{margin:0 auto;}
.tcenter{text-align:center; margin-left:auto; margin-right:auto;}
.center{text-align:center; margin-left:auto; margin-right:auto;}
.tleft{text-align:left;}
.tright{text-align:right;}
.justify{text-align:justify;}/*페이지 폭에 꽉차게 */
.table-cell{display:table-cell; vertical-align:middle;}
.hidden{visibility:hidden !important;}
.intaeFont:before{font-family:'intaeFont' !important; font-weight:normal;}
.hlelp-block{display:block; line-height:1.4em; margin-top:5px;}
.vertical-top{vertical-align:top;}
.underline{text-decoration:underline;}



/*──────────────── Margin ────────────────*/
.mt5{margin-top:5px !important;} .mt10{margin-top:10px !important;} .mt15{margin-top:15px !important;} .mt20{margin-top:20px !important;} .mt25{margin-top:25px !important;} .mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;} .mt40{margin-top:40px !important;} .mt45{margin-top:45px !important;} .mt50{margin-top:50px !important;} .mt55{margin-top:55px !important;} .mt60{margin-top:60px !important;}
.mt65{margin-top:65px !important;} .mt70{margin-top:70px !important;} .mt75{margin-top:75px !important;} .mt80{margin-top:80px !important;}
.mt85{margin-top:85px !important;} .mt90{margin-top:90px !important;} .mt95{margin-top:95px !important;} .mt100{margin-top:100px !important;}
.mr5{margin-right:5px !important;} .mr10{margin-right:10px !important;} .mr15{margin-right:15px !important;} .mr20{margin-right:20px !important;} .mr25{margin-right:25px !important;} .mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;} .mr40{margin-right:40px !important;} .mr45{margin-right:45px !important;} .mr50{margin-right:50px !important;} .mr55{margin-right:55px !important;} .mr60{margin-right:60px !important;}
.mr65{margin-right:65px !important;} .mr70{margin-right:70px !important;} .mr75{margin-right:75px !important;} .mr80{margin-right:80px !important;} .mr85{margin-right:85px !important;}
.mr90{margin-right:90px !important;} .mr95{margin-right:95px !important;} .mr100{margin-right:100px !important;}
.ml5{margin-left:5px !important;} .ml10{margin-left:10px !important;} .ml15{margin-left:15px !important;} .ml20{margin-left:20px !important;} .ml25{margin-left:25px !important;} .ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;} .ml40{margin-left:40px !important;} .ml45{margin-left:45px !important;} .ml50{margin-left:50px !important;} .ml55{margin-left:55px !important;} .ml60{margin-left:60px !important;}
.ml65{margin-left:65px !important;} .ml70{margin-left:70px !important;} .ml75{margin-left:75px !important;} .ml80{margin-left:80px !important;} .ml85{margin-left:85px !important;}
.ml90{margin-left:90px !important;} .ml95{margin-left:95px !important;} .ml100{margin-left:100px !important;}
.mb5{margin-bottom:5px !important;} .mb10{margin-bottom:10px !important;} .mb15{margin-bottom:15px !important;} .mb20{margin-bottom:20px !important;} .mb25{margin-bottom:25px !important;} .mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;} .mb40{margin-bottom:40px !important;} .mb45{margin-bottom:45px !important;} .mb50{margin-bottom:50px !important;} .mb55{margin-bottom:55px !important;} .mb60{margin-bottom:60px !important;}
.mb65{margin-bottom:65px !important;} .mb70{margin-bottom:70px !important;} .mb75{margin-bottom:75px !important;} .mb80{margin-bottom:80px !important;} .mb85{margin-bottom:85px !important;}
.mb90{margin-bottom:90px !important;} .mb95{margin-bottom:95px !important;} .mb100{margin-bottom:100px !important;}

/*──────────────── Padding ────────────────*/
.padding5{padding:5px;}
.padding10{padding:10px;}
.padding15{padding:15px;}
.padding20{padding:20px;}
.padding25{padding:25px;}
.padding30{padding:30px;}
.padding35{padding:35px;}
.padding40{padding:40px;}
.padding45{padding:45px;}
.padding50{padding:50px;}
.padding55{padding:55px;}
.padding60{padding:60px;}


/*──────────────── Button ────────────────*/
.btn, input[type="submit"].btn{
	vertical-align:middle;
	display:inline-block;
	cursor:pointer;
	padding:0 15px;
	min-width:34px;
	height:34px;
	line-height:35px;
	font-family:'NanumSquareRound', sans-serif;
	font-weight: 700;
	color:#fff;
	text-align:center;
	background:#474e67;
	border-radius:3px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	}
.btn:hover, input[type="submit"].btn:hover{background-color:#2d3551;}
.btn.gray, input[type="submit"].btn.gray{color:#474e67; background:rgba(0,0,0,0.05);}
.btn.gray:hover, input[type="submit"].btn.gray:hover{background:rgba(0,0,0,0.1);}
.btn.red, input[type="submit"].btn.red{color:#fff; background:#ff4747;}
.btn.red:hover, input[type="submit"].btn.red:hover{background:#f43b3b;}
.btn.green, input[type="submit"].btn.green{color:#fff; background:#12a79d;}
.btn.green:hover, input[type="submit"].btn.green:hover{background:#0e9289;}
.btn.transparent, input[type="submit"].btn.transparent{color:#474e67; background:rgba(0,0,0,0);}
.btn.transparent:hover, input[type="submit"].btn.transparent:hover{background:rgba(0,0,0,0.05);}


/*──────────────── FORM ────────────────*/
input{vertical-align:middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="url"],
input[type="date"],
input[type="time"],
select{
	font-family:'NanumSquareRound', sans-serif;
	font-weight:normal;
	display:inline-block;
	vertical-align:middle;
	*overflow:visible;
	height:42px;
	padding:0 10px;
	font-size:12px;
	color:#3d3d3d;
	border-radius:3px;
	background:rgba(0,0,0,0.06);
	border:1px solid rgba(0,0,0,0);
	transition: all .2s ease-in-out;
	position:relative;
	z-index:3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	}
input[type="text"].outline,
input[type="password"].outline,
input[type="email"].outline,
input[type="tel"].outline,
input[type="number"].outline{background:#fff;border:2px solid rgba(0,0,0,0.2);border-radius:4px;}

textarea{
	font-family:'NanumSquareRound', sans-serif;
	line-height:1.5em;
	color:#3d3d3d;
	padding:10px;
	font-size:13px;
	color:#3d3d3d;
	border-radius:3px;
	background:rgba(0,0,0,0.06);
	border:1px solid rgba(0,0,0,0);
	transition: all .2s ease-in-out;
	position:relative;
	overflow-y:auto;
	}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus{background:#fff; border-color:rgba(0,0,0,0.4); outline: none;}

input:-moz-placeholder, textarea:-moz-placeholder {color:#a8a8a8; font-weight:normal;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#a8a8a8; font-weight:normal;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#a8a8a8; font-weight:normal;}
input::-moz-focus-inner,
button::-moz-focus-inner {border: 0; padding: 0;}


.btn.mini, input[type="submit"].mini, input[type="text"].mini, input[type="password"].mini, input[type="email"].mini, input[type="tel"].mini, input[type="number"].mini, .mini select{height:23px; line-height:24px; font-size:11px;}
.btn.mini, input[type="submit"].mini{padding:0 6px; min-width:23px;}
.btn.small, input[type="submit"].small, input[type="text"].small, input[type="password"].small, input[type="email"].small, input[type="tel"].small, input[type="number"].small, .small select{height:28px; line-height:30px; font-size:11px;}
.btn.small, input[type="submit"].small{padding:0 6px; min-width:28px;}
.btn.large, input[type="submit"].large, input[type="text"].large, input[type="password"].large, input[type="email"].large, input[type="tel"].large, input[type="number"].large, .large select{height:50px; font-size:14px; font-family:'NanumSquareRound', sans-serif;font-weight: 600;}
.btn.large, input[type="submit"].large{padding:0 18px; min-width:43px; line-height:50px; }
.btn.wide, input[type="submit"].wide{min-width:230px; padding:0 22px;}




input[type="file"]{
	vertical-align:middle;
	*overflow:visible;
	height:30px;
	font-size:12px;
	width:350px;
	color:#3d3d3d;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}


/*──────────────── Icon ────────────────*/
[class*="icon_"]:before{content: ""; font-family: 'intaeFont'; font-weight:normal !important; font-style: normal !important; vertical-align:middle; display:inline-block;}
.icon_arrow:before{content:'\e004'; margin-top:-0.15em; margin-right:-5px; transition: all 0.25s cubic-bezier(0.4, 0, 0, 1);}
.icon_search:before{content:'\e344';}
.icon_google:before{content:'\e325';}

.btn:hover .icon_arrow:before{margin-left:10px;}









/*============ radio & checkbox =============*/

input[type="checkbox"] {margin-right:8px; vertical-align:middle; display:none;}
input[type="radio"] {margin-right:6px; vertical-align:middle; display:none;}
label{margin-right:10px; cursor:pointer;}
label:last-child{margin-right:0;}
input[type="checkbox"] + span {
    display:inline-block;
	margin-right:7px;
	margin-top:-3px;
    vertical-align:middle;
	width:23px;
	height:23px;
	line-height:25px;
	font-size:23px;
	padding:0;
	font-weight:normal;
    background:#cacaca;
	border-radius:5px;
    cursor:pointer;
	text-align:center;
	color:rgba(255,255,255,0.9);
	}

input[type="checkbox"]:checked + span{background:#1abc9c;}
input[type="checkbox"]:checked + span:before {content:'\e306'; font-family:'intaeFont'; color:#fff;}
input[type="radio"] + span{
    display:inline-block;
    margin-right:7px;
	margin-top:-3px;
    vertical-align:middle;
	width:21px;
	height:21px;
	line-height:21px;
    background:#d7d7d7;
	border-radius:50%;
    cursor:pointer;
	text-align:center;
	position:relative;
	}
input[type="radio"]:checked + span:before{ content:''; width:100%; height:100%; position:absolute; top:0; left:0; background:transparent; border:5px solid #d7d7d7; border-radius:50%; }
label input[type="radio"]:checked  + span{background:#1abc9c;}



/* select-wrapper */
.select-wrapper {text-decoration:none; display: block; position: relative; font-size:0; margin:0; padding:0;}
.select-wrapper:after {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index:6;
	width: 40px;
	height: 100%;
	padding:0;
	margin:0;
	content: '\e3d9';
	font-family: 'intaeFont'; 
	font-size:19px;
	color: #818283;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	}
.select-wrapper select::-ms-expand {display: none;}
select {width:100%;}
select option {background-color: #1c1d26; color: #000;}
select:focus::-ms-value {background: transparent;}

.select-wrapper select{padding-right:43px;}











/*──────────────── span : Width ────────────────*/
[class*="span"],
[class^="span"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display:inline-block;
	/*font-size:0;*/
	position:relative;
	vertical-align:middle;
	}
.span9{width:600px;}
.span8{width:530px;}
.span7{width:310px;}
.span6{width:250px;}
.span5{width:190px;}
.span4{width:130px;}
.span3{width:90px;}
.span2{width:53px;}
.span1{width:43px;}
.span{width:100%; overflow:hidden;}