@charset "utf-8";
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
.nanumSquare{font-family: 'NanumSquareRound', sans-serif;}
.roboto{font-family: 'Roboto', sans-serif;} /* Roboto:100,300,400,700,900 */

/*@import url('fonts.css');*/

/*──────────────── Reset ────────────────*/
html {margin:0; padding:0;}
body {margin:0;padding:0;font-size:12px; font-family: 'Roboto', 'Nanum Gothic', sans-serif;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img, input, button {margin:0;padding:0;border:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
button {cursor:pointer}
textarea, select {font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {width:100%; height:1px; background-color:rgba(0,0,0,0.12); border:none;}
pre{margin:0;padding:0;font-size:13px;font-family:inherit; display:inline-block; overflow:auto;}
table {border-collapse: collapse; border-spacing:0;}
ol,ul,li {list-style:none; margin:0; padding:0}
.inline-block{display:inline-block !important; vertical-align:middle;}
img{max-width:100%;}
label{display:inline-block;}
.fontAnti{ -webkit-font-smoothing:none !important; -webkit-transform:none !important; transform:none !important;}
.fontAnti *{ -webkit-font-smoothing:none !important; -webkit-transform:none !important; transform:none !important;}
textarea{resize:none;width:100%;}
[class^="holdImg"] img{height:auto;}

*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; word-wrap:break-word;}
*:before{ vertical-align:middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }

/* Window Drag */
::-moz-selection{background:rgba(255,244,182,0.9); color:rgba(0,0,0,0.9);}
::selection{background:rgba(255,244,182,0.9); color:rgba(0,0,0,0.9);}

a{color:inherit; text-decoration:none; outline:0;}
a:link, a:visited {text-decoration:none}
a:hover, a:focus, a:active {text-decoration:none;}
a[href^="tel:"]:link {color: #7a7a7a;}

a.no-underline, a.no-underline:hover{text-decoration:none !important;}


/* Etc. */
b, .bold{font-weight: bold;}
.normal{font-weight:normal;}
.landmark{position: absolute;left: -5000px;top: -5000px; display:none;}
.no_borderb{border-bottom:none !important;}
.clear{clear:both; display:block;}
.none {display:none !important;}
.hidden{visibility:hidden !important;}
.noborder{border:none !important;}
.bored{border:1px solid red;}


/*──────────────── Font ────────────────*/
h1, h2, h3, h4, h5, h6{ /*font-family: 'Noto Sans KR', sans-serif;*/ font-family: 'NanumSquareRound', sans-serif; line-height:1.5em; font-weight:400;}
h1{font-size:43px; font-weight:200;}
h2{font-size:30px;}
h3{font-size:26px; font-weight:400;}
h4{font-size:21px; font-weight:600;}
h5{font-size:17px; font-weight:600;}
h6{font-size:15px; font-weight:600;}

.fs9{font-size:9px;} .fs10{font-size:10px;} .fs11{font-size:11px;} .fs12{font-size:12px;} .fs13{font-size:13px;} .fs14{font-size:14px;} .fs15{font-size:15px;}
.fs16{font-size:16px;} .fs17{font-size:17px;} .fs18{font-size:18px;} .fs19{font-size:19px;} .fs20{font-size:20px;}

[class^="noto"], [class*="noto"]{font-family: 'Noto Sans KR', sans-serif !important;}
.noto100{font-weight:100;} .noto200{font-weight:200;} .noto300{font-weight:300;} .noto400{font-weight:400;} .noto500{font-weight:500;} .noto600{font-weight:600;} .noto700{font-weight:700;}

[class^="nanumsq"], [class*="naq"]{font-family: 'NanumSquareRound', sans-serif;}
.naq300{font-weight:300;} .naq400{font-weight:400;} .noto700{font-weight:700;} .noto800{font-weight:800;}

.help-block{color:#8da2a8; margin-top:7px; margin-bottom:-4px; line-height:1.3em;}
.help-block a{color:#8da2a8; text-decoration:underline !important;}
.help-block a:hover{color:#6d8288; }


/*──────────────── Text ────────────────*/
.ellipsis{ overflow : hidden; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis; }

/* 정렬 */
.tcenter{text-align: center !important;} .tleft{text-align:left !important;} .tright{text-align: right !important;} .fcenter{margin:0 auto;} .fleft{float:left !important;} .fright{float:right !important;}
.divCenter{z-index:2; position:absolute !important; top:0; left:0; width:100%  !important; height:100%  !important; max-width:100% !importnat; min-width:100% !important; display: flex; align-items: center; justify-content: center;}

/* flexd */
.fixed{position:fixed !important;}
.block{display:block !important;}
.absolute{display:absolute !important; top:0; right:0;}
.absolute.fright{float:none; top:0; right:0;}
.flexCenter{display: flex;align-items: center;}

.clear{clear:both;}
.none {display:none !important;}
.fleft{float:left;}
.fright{float:right;}
.fcenter{margin:0 auto;}
.tcenter{text-align:center; margin-left:auto; margin-right:auto;}
.center{text-align:center; margin-left:auto; margin-right:auto;}
.tleft{text-align:left;}
.tright{text-align:right;}
.justify{text-align:justify;}/*페이지 폭에 꽉차게 */
.table-cell{display:table-cell; vertical-align:middle;}
.hidden{visibility:hidden !important;}
.intaeFont:before{font-family:'intaeFont' !important; font-weight:normal;}
.hlelp-block{display:block; line-height:1.4em; margin-top:5px;}
.vertical-top{vertical-align:top;}
.underline{text-decoration:underline;}

/*──────────────── Margin ────────────────*/
.mt5{margin-top:5px !important;} .mt10{margin-top:10px !important;} .mt15{margin-top:15px !important;} .mt20{margin-top:20px !important;} .mt25{margin-top:25px !important;} .mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;} .mt40{margin-top:40px !important;} .mt45{margin-top:45px !important;} .mt50{margin-top:50px !important;} .mt55{margin-top:55px !important;} .mt60{margin-top:60px !important;}
.mt65{margin-top:65px !important;} .mt70{margin-top:70px !important;} .mt75{margin-top:75px !important;} .mt80{margin-top:80px !important;}
.mt85{margin-top:85px !important;} .mt90{margin-top:90px !important;} .mt95{margin-top:95px !important;} .mt100{margin-top:100px !important;}
.mr5{margin-right:5px !important;} .mr10{margin-right:10px !important;} .mr15{margin-right:15px !important;} .mr20{margin-right:20px !important;} .mr25{margin-right:25px !important;} .mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;} .mr40{margin-right:40px !important;} .mr45{margin-right:45px !important;} .mr50{margin-right:50px !important;} .mr55{margin-right:55px !important;} .mr60{margin-right:60px !important;}
.mr65{margin-right:65px !important;} .mr70{margin-right:70px !important;} .mr75{margin-right:75px !important;} .mr80{margin-right:80px !important;} .mr85{margin-right:85px !important;}
.mr90{margin-right:90px !important;} .mr95{margin-right:95px !important;} .mr100{margin-right:100px !important;}
.ml5{margin-left:5px !important;} .ml10{margin-left:10px !important;} .ml15{margin-left:15px !important;} .ml20{margin-left:20px !important;} .ml25{margin-left:25px !important;} .ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;} .ml40{margin-left:40px !important;} .ml45{margin-left:45px !important;} .ml50{margin-left:50px !important;} .ml55{margin-left:55px !important;} .ml60{margin-left:60px !important;}
.ml65{margin-left:65px !important;} .ml70{margin-left:70px !important;} .ml75{margin-left:75px !important;} .ml80{margin-left:80px !important;} .ml85{margin-left:85px !important;}
.ml90{margin-left:90px !important;} .ml95{margin-left:95px !important;} .ml100{margin-left:100px !important;}
.mb5{margin-bottom:5px !important;} .mb10{margin-bottom:10px !important;} .mb15{margin-bottom:15px !important;} .mb20{margin-bottom:20px !important;} .mb25{margin-bottom:25px !important;} .mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;} .mb40{margin-bottom:40px !important;} .mb45{margin-bottom:45px !important;} .mb50{margin-bottom:50px !important;} .mb55{margin-bottom:55px !important;} .mb60{margin-bottom:60px !important;}
.mb65{margin-bottom:65px !important;} .mb70{margin-bottom:70px !important;} .mb75{margin-bottom:75px !important;} .mb80{margin-bottom:80px !important;} .mb85{margin-bottom:85px !important;}
.mb90{margin-bottom:90px !important;} .mb95{margin-bottom:95px !important;} .mb100{margin-bottom:100px !important;}

/*──────────────── Padding ────────────────*/
.padding5{padding:5px;}
.padding10{padding:10px;}
.padding15{padding:15px;}
.padding20{padding:20px;}
.padding25{padding:25px;}
.padding30{padding:30px;}
.padding35{padding:35px;}
.padding40{padding:40px;}
.padding45{padding:45px;}
.padding50{padding:50px;}
.padding55{padding:55px;}
.padding60{padding:60px;}

/*──────────────── rotate ────────────────*/
.rotate90 { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
.rotate180 { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.rotate270 { -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -o-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); }

/*──────────────── horizon-group ────────────────*/
.horizon-group{position:relative; margin-bottom:10px;}
.horizon-group:last-child{margin-bottom:0;}
.horizon-group > *{vertical-align:top;}
.horizon-group .horizon-label{cursor:default; display:inline-block; line-height:1.6em; }
.horizon-group .horizon-con{display:inline-block; line-height:1.6em; padding-left:1.6em;}





/*──────────────── Button ────────────────*/
.btn, input[type="submit"].btn{
	vertical-align:middle;
	display:inline-block;
	cursor:pointer;
	padding:0 15px;
	min-width:34px;
	height:34px;
	line-height:35px;
	font-family:'NanumSquareRound', sans-serif;
	font-weight: 700;
	color:#fff;
	text-align:center;
	background:#474e67;
	border-radius:3px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	}
.btn:hover, input[type="submit"].btn:hover{background-color:#2d3551;}
.btn.gray, input[type="submit"].btn.gray{color:#474e67; background:rgba(0,0,0,0.05);}
.btn.gray:hover, input[type="submit"].btn.gray:hover{background:rgba(0,0,0,0.1);}
.btn.red, input[type="submit"].btn.red{color:#fff; background:#ff4747;}
.btn.red:hover, input[type="submit"].btn.red:hover{background:#f43b3b;}
.btn.green, input[type="submit"].btn.green{color:#fff; background:#12a79d;}
.btn.green:hover, input[type="submit"].btn.green:hover{background:#0e9289;}
.btn.transparent, input[type="submit"].btn.transparent{color:#474e67; background:rgba(0,0,0,0);}
.btn.transparent:hover, input[type="submit"].btn.transparent:hover{background:rgba(0,0,0,0.05);}


/*──────────────── FORM ────────────────*/
input{vertical-align:middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"]{
	font-family:'NanumSquareRound', 'Nanum Gothic', sans-serif;
	font-weight:normal;
	display:inline-block;
	vertical-align:middle;
	*overflow:visible;
	height:34px;
	padding:0 10px;
	font-size:12px;
	color:#3d3d3d;
	border-radius:3px;
	background:rgba(0,0,0,0.06);
	border:1px solid rgba(0,0,0,0);
	transition: all .2s ease-in-out;
	position:relative;
	z-index:3;
	}

input[type="text"].outline,
input[type="password"].outline,
input[type="email"].outline,
input[type="tel"].outline,
input[type="number"].outline{background:#fff;border:2px solid rgba(0,0,0,0.2);border-radius:4px;}

textarea{
	font-family:'NanumSquareRound', 'Nanum Gothic', sans-serif;
	line-height:16px;
	color:#3d3d3d;
	padding:10px;
	font-size:12px;
	color:#3d3d3d;
	border-radius:3px;
	background:rgba(0,0,0,0.06);
	border:1px solid rgba(0,0,0,0);
	transition: all .2s ease-in-out;
	position:relative;
	overflow-y:auto;
	}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus{background:#fff; border-color:rgba(0,0,0,0.4); outline: none;}

input:-moz-placeholder, textarea:-moz-placeholder {color:#a8a8a8; font-weight:normal;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#a8a8a8; font-weight:normal;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#a8a8a8; font-weight:normal;}
input::-moz-focus-inner,
button::-moz-focus-inner {border: 0; padding: 0;}

/*required{border:1px solid blue;} 필수입력*/


.btn.mini, input[type="submit"].mini, input[type="text"].mini, input[type="password"].mini, input[type="email"].mini, input[type="tel"].mini, input[type="number"].mini {height:23px; line-height:24px; font-size:11px;}
.btn.mini, input[type="submit"].mini{padding:0 6px; min-width:23px;}
.btn.small, input[type="submit"].small, input[type="text"].small, input[type="password"].small, input[type="email"].small, input[type="tel"].small, input[type="number"].small {height:28px; line-height:30px; font-size:11px;}
.btn.small, input[type="submit"].small{padding:0 6px; min-width:28px;}
.btn.large, input[type="submit"].large, input[type="text"].large, input[type="password"].large, input[type="email"].large, input[type="tel"].large, input[type="number"].large {height:43px; line-height:44px; font-size:13px; font-family:'NanumSquareRound', sans-serif;font-weight: 700;}
.btn.large, input[type="submit"].large{padding:0 18px; min-width:43px;}
.btn.wide, input[type="submit"].wide{min-width:230px; padding:0 22px;}


input[type="file"]{
	vertical-align:middle;
	*overflow:visible;
	height:30px;
	font-size:12px;
	width:350px;
	color:#3d3d3d;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}






/*──────────────── Icon ────────────────*/
[class*="icon_"]:before{content: ""; font-family: 'intaeFont'; font-weight:normal !important; font-style: normal !important; vertical-align:middle; display:inline-block;}
.icon_arrow:before{content:'\e004'; margin-top:-0.15em; margin-right:-5px; transition: all 0.25s cubic-bezier(0.4, 0, 0, 1);}
.icon_search:before{content:'\e344';}
.icon_google:before{content:'\e325';}

.btn:hover .icon_arrow:before{margin-left:10px;}




/*──────────────── Tag ────────────────*/
.tag, .data-tag{
	vertical-align:middle;
	display:inline-block;
	padding:0 6px;
	height:25px;
	line-height:22px;
	font-size:12px;
	font-weight: 400;
	color:#fff;
	text-align:center;
	background:rgba(0,0,0,0.45);
	border:1px solid rgba(0,0,0,0.04);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
.tag.mini{
	font-size:11px;
	padding:0 4px;
	margin:1px 0;
	height:20px;
	line-height:18px;
	font-weight: 300;
	}
.tag.minimini{
	padding:0 3px;
	height:18px;
	line-height:16px;
	font-weight: 100;
	font-size:11px;
	font-family: 'Noto Sans KR', sans-serif;
	}

.tag.bold{font-weight:bold;}
.tag.orange{color:#494949; background:#ffbf37;}
.tag.yellow{color:#614531; background:#fff8a5; border-color:rgba(0,0,0,0.15);}
.tag.blue{color:#fff !important; background:#377eff; border-color:rgba(40,95,194,0.6);}
.tag.red{color:#fff !important; background:#ff3f3f;}
.tag.black{color:#fff !important; background:#3f3f3f;}
.tag.green{color:#fff !important; background:#87d50b;}
.tag.white{color:rgba(0,0,0,0.9) !important; background:#fff; border:1px solid rgba(0,0,0,0.1); font-family:'Nanum Gothic', sans-serif !important;}

.tag.skinOption.mob{
	font-size:11px;
	padding:0 5px;
	margin:2px 0;
	height:20px;
	line-height:17px;
	font-weight: 300;
	color:#354c0c;
	background:#3091ff;
	border-color:rgba(101,149,26,0.4);
	border-radius:1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .05s ease-in-out;
	transition: all .05s ease-in-out;
	cursor:pointer;
	}
.tag.skinOption.mob:hover{background:#c5ee73;}
.tag.skinOption.mob:focus, .tag.skinOption.mob:active{background:#fff5bd; border-color:#eee4aa; color:#151411 !important;}



.tagOn:after{
	content:'';
	display:inline-block;
	width:25px;
	height:19px;
	background:url('img/tagOnOff.png') no-repeat;
	background-position:0 0;
	vertical-align:middle;
	margin-left:5px;
	}
.tagOff:after{
	content:'';
	display:inline-block;
	width:29px;
	height:19px;
	background:url('img/tagOnOff.png') no-repeat;
	background-position:-27px 0;
	vertical-align:middle;
	margin-left:5px;
	}

.yellowTag{
	display:inline-block;
	height:22px;
	line-height:20px;
	font-size:11px;
	font-weight:400;
	color:#8f5e2c;
	background:url('img/sprite_yellowTag.png') repeat-x;
	background-position: 0 -44px;
	position:relative;
	top:-20px;
	left:0;
	}

.yellowTag:before{
	content:'';
	background:url('img/sprite_yellowTag.png') no-repeat;
	background-position: 0 -22px;
	width:10px;
	height:22px;
	display:inline-block;
	position:absolute;
	top:0;
	left:-10px;
	}
.yellowTag:after{
	content:'';
	background:url('img/sprite_yellowTag.png') no-repeat;
	background-position: right -22px;
	width:20px;
	height:22px;
	line-height:22px;
	display:inline-block;
	position:absolute;
	top:0;
	right:-20px;
	}

.tagNum{
	vertical-align:middle;
	display:inline-block;
	width:17px;
	height:17px;
	line-height:16px;
	font-size:10px;
	font-weight: 500;
	font-family: 'Noto Sans KR', sans-serif;
	color:#fff;
	text-align:center;
	background:rgba(0,0,0,0.65);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius:3px;
	margin-top:-1px;
	margin-left:3px;
	}




/*──────────────── myTip ────────────────*/
.myTip{position:relative; cursor:pointer; vertical-align:middle; font-size:0;}
.myTip:before{
	content:""attr(data-tip)"";
	font-family:'Nanum Gothic', sans-serif;
	font-size:12px;
	line-height:1.5em;
	color:#fff;
	display:inline-block;
	width:auto;
	padding:3px 1em;
	position:absolute;
	top:50%;
	right:100%;
	margin-top:-11px;
	margin-right:6px;
	background:rgba(0,0,0,0.65);
	border-radius:4px;
	white-space: pre;
	-webkit-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
	opacity:0;
	visibility: hidden;
	z-index:39;
	}
.myTip:after{
	content:'';
	width:0;
	height:0;
	font-size:12px;
	border-left: 4px solid rgba(0,0,0,0.65);
	border-right: 4px solid transparent;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	position:absolute;
	top:50%;
	right:100%;
	margin-top:-4px;
	-webkit-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
	opacity:0;
	visibility: hidden;
	z-index:39;
	}
.myTip:hover:before, .myTip:hover:after{opacity:1; visibility: visible;}

.myTip.mini:before{font-size:10px;}
.myTip.mini:after{border-width:3px;}

.myTip.top:before{top:-28px; left:-1em; right:auto; margin:0; }
.myTip.top:after{
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid rgba(0,0,0,0.65);
	border-bottom: 4px solid transparent;
	position:absolute;
	top:-3px;
	left:50%;
	right:auto;
	margin-left:-6px;
	}
.myTip.top.mini:before{top:-28px;}

.myTip.right:before{ right:auto; left:100%; margin-left:8px; }
.myTip.right:after{ border-left: 4px solid transparent; border-right: 4px solid rgba(0,0,0,0.55); border-top: 4px solid transparent; border-bottom: 4px solid transparent; right:auto; left:100%; margin-left:-2px; }
.myTip.mini.right:before{ margin-left:6px; }
.myTip.mini.right:after{ border-width: 4px; margin-right:3px; }

/*.myTip.htmlOn:before{color:#fffb8e;}*/
.myTip.htmlOn:before{color:#212121; background:rgba(255,231,71,0.9); font-weight:bold;}
.myTip.htmlOn:after{border-left-color:rgba(255,231,71,0.9);}
.myTip.htmlOn.top:after{border-color:transparent; border-top-color:rgba(255,231,71,0.9);}
.myTip.htmlOn.right:after{border-color:transparent; border-right-color:rgba(255,231,71,0.9);}






.bootstrap-select .dropdown-toggle{font-size:13px; font-weight:600; color:#606884;background:#fff;  border:1px solid rgba(71,78,103,0.3); height:34px; line-height:34px;}
.dropdown-toggle.active,
.dropdown-toggle.focus,
.dropdown-toggle:active,
.dropdown-toggle:focus,
.dropdown-toggle:hover{background-color:rgba(71,78,103,0.06) !important;}
.bootstrap-select .dropdown-toggle .caret:before{color:rgba(71,78,103,0.8); font-size:16px;}
.bootstrap-select.btn-group .dropdown-menu li.selected a{background:rgba(71,78,103,1);}
.bootstrap-select.large .dropdown-toggle{height:43px; line-height:43px;}









/*──────────────── span : Width ────────────────*/
.select2-container {width:auto;}
[class*="span"],
[class^="span"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display:inline-block;
	/*font-size:0;*/
	position:relative;
	vertical-align:middle;
	}
.span9{width:600px;}
.span8{width:530px;}
.span7{width:310px;}
.span6{width:250px;}
.span5{width:190px;}
.span4{width:130px;}
.span3{width:90px;}
.span2{width:53px;}
.span1{width:43px;}
.span{width:100%; overflow:hidden;}

.bootstrap-select.btn-group.span9{min-width:430px;}
.bootstrap-select.btn-group.span8{min-width:370px;}
.bootstrap-select.btn-group.span7{min-width:310px;}
.bootstrap-select.btn-group.span6{min-width:250px;}
.bootstrap-select.btn-group.span5{min-width:190px;}
.bootstrap-select.btn-group.span4{min-width:130px;}
.bootstrap-select.btn-group.span3{min-width:90px;}
.bootstrap-select.btn-group.span2{min-width:53px;}
.bootstrap-select.btn-group.span1{min-width:43px;}
.bootstrap-select.btn-group.span{width:100%; overflow:visible;}


.spanGroup{overflow:hidden; width:100%; position:relative;}

.span2n{width:calc(50% - 5px); margin-right:10px; float:left;}
.span2n:nth-child(2n+2){margin-right:0;}
.span3n{width:calc(33.33% - 6px); margin-right:9px; float:left;}
.span3n:nth-child(3n+3){margin-right:0;}
.span4n{width:calc(25% - 7px); margin-right:9px; float:left;}
.span4n:nth-child(4n+4){margin-left:1px; margin-right:0;}

.span90{width:calc(90% - 4px); margin-right:8px; float:left;}
.span80{width:calc(80% - 4px); margin-right:8px; float:left;}
.span70{width:calc(70% - 4px); margin-right:8px; float:left;}
.span60{width:calc(60% - 4px); margin-right:8px; float:left;}
.span50{width:calc(50% - 4px); margin-right:8px; float:left;}
.span40{width:calc(40% - 4px); margin-right:8px; float:left;}
.span30{width:calc(30% - 4px); margin-right:8px; float:left;}
.span20{width:calc(20% - 4px); margin-right:8px; float:left;}
.span10{width:calc(10% - 4px); margin-right:8px; float:left;}

[class*="span"]:last-child{margin-right:0;}

.spanPrice{width:160px; margin-right:10px; float:left;}
.spanPrice + .span{width:calc(100% - 170px); float:left;}












/*──────────────── Uploader ────────────────*/
div.uploader span.filename,
div.uploader span.action,
div.button,
div.button span {background-image: url('img/sprite.png'); background-repeat: no-repeat;-webkit-font-smoothing: antialiased;}

div.uploader{
	background-position: 0px -297px;
	width: 340px;
	height: 24px;
	line-height:24px;
	padding:0;
	margin:5px 0;
	font-size:12px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	cursor: default;
	}
div.uploader span.action{
	background-position: right -411px;
	width: 80px;
	height: 24px;
	line-height: 24px;
	padding:0;
	margin:0;
	text-align: center;
	text-shadow: #fff 0px 1px 0px;
	/*background-color: #fff;*/
	font-family:'Nanum Gothic',sans-serif;
	font-weight: 700;
	float: left;
	display: inline;
	overflow: hidden;
	cursor: pointer;
	}
div.uploader span.filename {
	background-position: -2px -299px;
	width: 260px;
	height: 24px;
	line-height: 26px;
	font-size: 11px;
	color: #777;
	margin: 0px;
	padding:0 5px 0 10px;
	border-right: solid 1px #bbb;
	float: left;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
	position:relative;
	}
div.uploader.disabled{background-position: 0px -325px;}
div.uploader.disabled span.action{background-position: right -381px; color: #aaa;}
div.uploader.disabled span.filename {border-color: #ddd; color: #aaa;} 
div.uploader input {
	opacity: 0;
	filter: alpha(opacity:0);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	float: right;
	width:220px;
	height: 25px;
	border: none;
	cursor:pointer;
	}




/*.uploadSet */
.uploadSet{position:relative; overflow:hidden;}
.uploadSet .btnCamera, .uploadSet .btnFile, .uploadSet .btnMovie{
	float:left;
	padding:0 15px;
	width:130px;
	height:55px;
	line-height:55px;
	font-weight:bold;
	text-align:center;
	color:#1d81f1;
	border:1px solid #1d81f1;
	border-radius:1px;
	background:#fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	margin:0;
	}
.uploadSet .btnCamera:hover, .uploadSet .btnFile:hover, .uploadSet .btnMovie:hover{background:#1d81f1; color:#fff;}
.uploadSet .btnCamera:before{
	content:'\e094';
	font-family:'intaeFont';
	font-size:20px;
	vertical-align:middle;
	font-weight:normal;
	display:inline-block;
	margin-top:-1px;
	margin-right:4px;
	}
.uploadSet .btnFile:before{
	content:'\e0e8';
	font-family:'intaeFont';
	font-size:21px;
	vertical-align:middle;
	display:inline-block;
	margin-top:-1px;
	margin-right:4px;
	}
.uploadSet .btnMovie:before{
	content:'\e0a8';
	font-family:'intaeFont';
	font-size:21px;
	vertical-align:middle;
	display:inline-block;
	margin-top:-2px;
	margin-right:6px;
	}
.uploadSet .btnCamera .info{font-size:0.85em; letter-spacing:-0.03em; font-weight:300; color:#626262; -webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out;}
.uploadSet .btnCamera:hover .info{color:#bde8ff;}
.uploadSet .holdImg{float:left;}
.uploadSet .holdImg img{width:auto; height:150px; margin-left:10px;}
.uploadSet div.uploader span.filename,
.uploadSet div.uploader span.action,
.uploadSet div.button,
.uploadSet div.button span {display:none !important;}





/*──────────────── Radio & Checkbox ────────────────*/
input[type="checkbox"] {margin-right:10px; display:none;}
input[type="radio"] {margin-right:10px; display:none;}
label{cursor:pointer;}

input[type="checkbox"] + span {
    display:inline-block;
	vertical-align:middle;
	width:19px;
	height:19px;
	line-height:19px;
	font-size:15px;
	margin-right:8px;
    background:#cacaca;
	border-radius:5px;
    cursor:pointer;
	text-align:center;
	color:rgba(255,255,255,0);
	}
input[type="checkbox"] + span:before{content:'\e306'; font-family:'intaeFont'; font-weight:600; margin-left:-1px; margin-top:1px; display:inline-block;}
input[type="checkbox"]:hover + span, input[type="checkbox"]:checked + span{color:rgba(255,255,255,1);}
input[type="checkbox"]:checked + span{background:#1abc9c;}

input[type="checkbox"] + span.num{font-family: 'Noto Sans KR', sans-serif; font-size:14px; font-weight:400; line-height:17px;}
label input[type="checkbox"] + span.num:after{content: attr(data-num); font-family: 'Noto Sans KR', sans-serif;}
label:hover input[type="checkbox"] + span.num:after,
input[type="checkbox"]:checked + span.num:after{display:none;}


/*
input[type="radio"] + span{
    display:inline-block;
    margin-right:4px;
	margin-top:-1px;
    vertical-align:middle;
	width:17px;
	height:17px;
	line-height:17px;
    background:#fff;
	border:3px solid #cacaca;
	border-radius:50%;
    cursor:pointer;
	text-align:center;
	}
label:hover input[type="radio"] + span:before{
	content:'';
	display:block;
	width:7px;
	height:7px;
	background:#cacaca;
	border-radius:50%;
	margin:2px 0 0 2px;
	}
input[type="radio"]:checked + span{border:3px solid #1abc9c;}
input[type="radio"]:checked + span:before {background:#1abc9c;}
label:hover input[type="radio"]:checked  + span:before{background:#1abc9c;}
*/

input[type="radio"] + span{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:18px;
	height:18px;
	margin-right:6px;
    background:#eaeaea;
	border-radius:50%;
    cursor:pointer;
	text-align:center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
label:hover input[type="radio"] + span{background:#cdcdcd;}
input[type="radio"]:checked + span,
label:hover input[type="radio"]:checked + span{background:#fff; border:6px solid #5d87ff;}



/*──────────────── Radio & Checkbox (jquery.uniform.js) ────────────────
input[type="checkbox"], input[type="radio"]  {}
div.checker,
div.radio{position:relative; display:inline-block; vertical-align:middle; width:22px; height:22px; padding:0; margin-right:8px; margin-top:-4px; cursor:pointer;}
div.checker input,
div.radio input {padding:0; margin:0; border:none; visibility:hidden; }

div.checker span:after{
	content:'\e296'; 
	font-family:'intaeFont';
	font-size:22px;
	color:#cacaca; 
	vertical-align:middle;
	margin-right:7px;
	position:absolute;
	top:2px;
	left:0;
	z-index:1;
	}
div.checker span:before{
	content:'';
	font-family:'intaeFont';
	font-size:12px;
	color:rgba(255,255,255,0.9);
	display:inline-block;
	vertical-align:middle; 
	margin:0;
	padding:0;
	position:absolute;
	top:7px;
	left:5px;
	z-index:2;
	}
label:hover div.checker span:before,
div.checker:hover span:before,
div.checker span.checked:before{content:'\e189';}
div.checker span.checked:after{color:#1abc9c;}
div.checker.disabled span.checked:after{color:#ff5b5b;}

div.radio span:before{
	content:'\e358'; 
	font-family:'intaeFont';
	font-size:22px;
	color:#cacaca; 
	vertical-align:middle;
	margin-right:7px;
	position:absolute;
	top:1px;
	left:0;
	z-index:1;
	}
div.radio:hover span:before,
div.radio span.checked:before{content:'\e2fe';}
div.radio span.checked:before{color:#1abc9c;}
div.radio.disabled span.checked:before{color:#ff5b5b;}
*/



/*──────────────── Checkbox 토글버튼 디자인 ──────────────── */
[type="checkbox"],
[type="checkbox"]:after,
[type="checkbox"]:before,
[type="checkbox"] *,
[type="checkbox"] *:after,
[type="checkbox"] *:before,
[type="checkbox"] + [class^="toggle-"] {box-sizing: border-box;}

[type="checkbox"]::-moz-selection,
[type="checkbox"]:after::-moz-selection,
[type="checkbox"]:before::-moz-selection,
[type="checkbox"] *::-moz-selection,
[type="checkbox"] *:after::-moz-selection,
[type="checkbox"] *:before::-moz-selection,
[type="checkbox"] + span::-moz-selection,
[type="checkbox"]::selection,
[type="checkbox"]:after::selection,
[type="checkbox"]:before::selection,
[type="checkbox"] *::selection,
[type="checkbox"] *:after::selection,
[type="checkbox"] *:before::selection,
[type="checkbox"] + [class^="toggle-"]::selection{background: none;}

[type="checkbox"] + [class^="toggle-"]{
	outline: 0;
	display: block;
	margin:0;
	padding:0;
	width: 60px;
	height: 30px;
	position: relative;
	cursor: pointer;
	border-radius:0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
[type="checkbox"] + [class^="toggle-"]:after, [type="checkbox"] + [class^="toggle-"]:before {
	content: "";
	position: relative;
	display: block;
	width: 50%;
	height: 100%;
	font-family:'Nanum Gothic', sans-serif !important;
	font-size:12px;
	}
[type="checkbox"] + [class^="toggle-"]:after{left: 0;}
[type="checkbox"] + [class^="toggle-"]:before {display: none;}
[type="checkbox"]:checked + [class^="toggle-"]:after {left: 50%;}



[type="checkbox"] + .toggle-light{
	background: rgba(0,0,0,0.1);
	border-radius: 2em;
	padding: 2px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	}
[type="checkbox"] + .toggle-light:after {
	border-radius: 50%;
	background: #fff;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	}
[type="checkbox"]:checked + .toggle-light{background: #3883ff;}
[type="checkbox"] + .toggle-light:before,
[type="checkbox"] + .toggle-light:hover:before{
	
	}
[type="checkbox"]:checked  + .toggle-light:before {
	content: "ON";
	position: absolute;
	top:5px;
	left:2px;
	display: block;
	width: 50%;
	height: 100%;
	font-family:'Nanum Gothic', sans-serif !important;
	font-size:11px;
	font-weight:bold;
	}


[type="checkbox"] + .toggle-ios{
	background: rgba(0,0,0,0.1);
	border-radius: 2em;
	padding: 2px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	}
[type="checkbox"] + .toggle-ios:after{
	border-radius: 2em;
	background: #fbfbfb;
	-webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
	transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
	}
[type="checkbox"] + .toggle-ios:hover:after {will-change: padding;}
[type="checkbox"] + .toggle-ios:active {box-shadow: inset 0 0 0 2em #e8eae9;}
[type="checkbox"] + .toggle-ios:active:after {padding-right: .8em;}
[type="checkbox"]:checked + .toggle-ios{background: #3883ff; border:0 solid #e8eae9;}
[type="checkbox"]:checked + .toggle-ios:active {box-shadow: none;}
[type="checkbox"]:checked + .toggle-ios:active:after {margin-left: -.8em;}



[type="checkbox"] + .toggle-skewed{
	overflow: hidden;
	-webkit-transform: skew(-10deg);
	transform: skew(-10deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	font-family: sans-serif;
	background: #888;
	}
[type="checkbox"] + .toggle-skewed:after,
[type="checkbox"] + .toggle-skewed:before{
	-webkit-transform: skew(10deg);
	transform: skew(10deg);
	display: inline-block;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	width: 100%;
	text-align: center;
	position: absolute;
	line-height: 29px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	}
[type="checkbox"] + .toggle-skewed:after {left: 100%; content: attr(data-tg-on);}
[type="checkbox"] + .toggle-skewed:before, [type="checkbox"] + .toggle-skewed:before {left: 0; content: attr(data-tg-off) !important;}
[type="checkbox"] + .toggle-skewed:active {background: #888;}
[type="checkbox"] + .toggle-skewed:active:before {left: -10%;}
[type="checkbox"]:checked + .toggle-skewed{background: #1abc9c;}
[type="checkbox"]:checked + .toggle-skewed:before {left: -100%;}
[type="checkbox"]:checked + .toggle-skewed:after {left: 0;}
[type="checkbox"]:checked + .toggle-skewed:active:after {left: 10%;}



[type="checkbox"] + .toggle-flat{
	padding: 2px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	background: #fff;
	border: 4px solid rgba(0,0,0,0.1);
	border-radius: 2em;
	}
[type="checkbox"] + .toggle-flat:after {
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	background: rgba(0,0,0,0.1);
	content: "";
	border-radius: 1em;
	}
[type="checkbox"]:checked + .toggle-flat{border: 4px solid #1abc9c; background: transparent;}
[type="checkbox"]:checked + .toggle-flat:after {left: 50%; background: #1abc9c;}



[type="checkbox"] + .toggle-flip{
	width:120px;
	padding: 2px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	font-family: sans-serif;
	-webkit-perspective: 100px;
	perspective: 100px;
	background: transparent;
	}
[type="checkbox"] + .toggle-flip:after,
[type="checkbox"] + .toggle-flip:before {
	display: inline-block;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	width: 100%;
	text-align: center;
	position: absolute;
	line-height: 30px ;
	font-weight: bold;
	color: #fff;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 4px;
	}
[type="checkbox"] + .toggle-flip:after {content: attr(data-tg-on) !important; background: #02C66F; -webkit-transform: rotateY(-180deg); transform: rotateY(-180deg);}
[type="checkbox"] + .toggle-flip:before {background: #FF3A19; content: attr(data-tg-off)  !important;}
[type="checkbox"] + .toggle-flip:active:before {-webkit-transform: rotateY(-20deg); transform: rotateY(-20deg); }
[type="checkbox"]:checked + .toggle-flip{ background: transparent;}
[type="checkbox"]:checked + .toggle-flip:before {-webkit-transform: rotateY(180deg); transform: rotateY(180deg);}
[type="checkbox"]:checked + .toggle-flip:after {-webkit-transform: rotateY(0); transform: rotateY(0);left: 0;background: #1abc9c;}
[type="checkbox"]:checked + .toggle-flip:active:after {-webkit-transform: rotateY(20deg); transform: rotateY(20deg);}*/